<div class="col-sm-7 col-sm-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for [@user, @trip] do |f| %>
        <div class="form-field col-sm-6">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Name", required: true, class:"form-control" %>
        </div>
        <div class="form-field col-sm-6">
          <%= f.label :budget %>
          <%= f.number_field :budget, placeholder: "Budget", required: true, class:"form-control" %>
        </div>
        <div class="form-field col-sm-6">
          <%= f.label :origin %>
          <%= f.text_field :origin, placeholder: "Origin", required: true, class:"form-control" %>
        </div>
        <div class="form-field col-sm-6">
          <%= f.label :destination %>
          <%= f.text_field :destination, placeholder: "Destination", required: true, class:"form-control" %>
        </div>
        <div class="form-field col-sm-6">
          <%= f.label :departure_date %>
          <%= f.date_field :departure_date, placeholder: "Departure Date", class:"form-control" %>
        </div>
        <div class="form-field col-sm-6">
          <%= f.label :return_date %>
          <%= f.date_field :return_date, placeholder: "Return Date", class:"form-control" %>
        </div>
        <div class="form-field trip-post-button col-sm-12">
        <%= f.submit "Submit", class: "btn btn-block trip-post-button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
