<div class="col-xs-6 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add A Trip</h3>
    </div>
    <div class="panel-body">
      <%= form_for [@user, @trip] do |t| %>
        <div class="form-field">
          <%= t.text_field :name, placeholder: "Name", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= t.number_field :budget, placeholder: "Budget", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= t.text_field :origin, placeholder: "Origin", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= t.text_field :destination, placeholder: "Destination", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= t.date_field :departure_date, placeholder: "Departure Date", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= t.date_field :return_date, placeholder: "Return Date", class:"form-control" %>
        </div>
        <div class="form-field trip-post-button">
        <%= t.submit "Submit", class: "btn btn-block btn-success trip-post-button"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
