<div class="col-sm-2">
  <%= render "users/sidebar" %>
  <br>
  <%= render "users/my_trips" %>
</div>
<div class="col-sm-10">
  <h1 class="page-title"><%= @trip.name %></h1>

  <!-- Placeholder for budget bar -->
  <div class="panel-footer"><h1>budget-bar</h1></div>

  <h4>Type: <%= @trip.trip_type %></h4>
  <h4>Budget: <%= @trip.budget %></h4>
  <h4>Origin: <%= @trip.origin %></h4>
  <h4>Destination: <%= @trip.destination %></h4>

  <% if current_user %>
    <%= link_to "", edit_user_trip_path(@user, @trip), class: "glyphicon glyphicon-edit" %>
    <%= link_to "", user_trip_path(@user, @trip), method: :delete, data: {confirm: "Delete Post?"}, class: "glyphicon glyphicon-trash" %>
  <% end %> 
  <br>
  <br>
  <%= link_to "Back to My Trips", user_path(@user), class: "btn btn-primary" %>
</div>