<div class="col-sm-2">
  <%= render "users/sidebar" %>
</div>
<div class="col-sm-10">
  <h1 class="page-title"><%= @trip.name %></h1>

  <!-- Placeholder for budget bar -->
  <div class="budget=bar">Budget Bar</div>

  <h4>Type: <%= @trip.trip_type %></h4>
  <h4>Budget: <%= @trip.budget %></h4>

  <% if current_user %>
    <%= link_to "", edit_user_trip_path(@user, @trip), class: "glyphicon glyphicon-edit" %>
    <%= link_to "", user_trip_path(@user, @trip), method: :delete, data: {confirm: "Delete Post?"}, class: "glyphicon glyphicon-trash" %>
  <% end %> 
  <br>
  <br>
  <%= link_to "Back to My Trips", user_path(@user), class: "btn btn-primary" %>
</div>