<p> <%= image_tag(@user.avatar_url, :length => 100, :width => 100) if @user.avatar.present? %> </p>
<p> <%= @user.username %> </p>
<p> <%= @user.current_city %> </p>
<p> <%= @user.created_at.strftime("Date joined: %m/%d/%Y") %> </p>

<%= button_to "Edit", edit_user_path(@user), method: :get %>