<%= form_for(@user) do |user| %>

  <div class="field">
    <%= user.label :first_name %><br />
    <%= user.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= user.label :last_name %><br />
    <%= user.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= user.label :username %><br />
    <%= user.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= user.label :current_city %><br />
    <%= user.text_field :current_city, autofocus: true %>
  </div>

  <div class="field">
    <%= user.label :email %><br />
    <%= user.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= user.label :email %><br />
    <%= user.file_field :avatar %>
  </div>

  <div class="actions">
    <%= user.submit "Update" %>
  </div>
<% end %>
