<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add an Expense</h3>
    </div>
    <div class="panel-body">
      <%= form_for [@user, @trip, @expense] do |f| %>
        <div class="form-field">
          <%= f.text_field :name, required: true, placeholder: "Name", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= f.select :expense_type, ["Choose Expense Type","Airfare","Lodging","Meals","Fun"], class:"form-control select" %>
        </div>
        <div class="form-field">
          <%= f.number_field :amount, required: true, placeholder: "Budget", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= f.date_field :start_date, required: true, placeholder: "Start Date", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= f.date_field :end_date, required: true, placeholder: "End Date", class:"form-control" %>
        </div>
        <div class="form-field">
          <%= f.text_area :notes, required: true, placeholder: "Notes", class:"form-control" %>
        </div>
        <div class="form-field">
        <%= f.submit "Submit", class: "btn btn-block btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
