<%= form_for [@user, @trip, @expense] do |f| %>
  <div class="form-group col-sm-12" style="padding: 5px">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", required:'true', class:"form-control" %>
  </div>
  <div class="form-group col-sm-6">
    <%= f.label :amount %>
    <%= f.number_field :amount, placeholder: "Amount",required:'true', class:"form-control" %>
  </div>
  <div class="form-group col-sm-6" style="margin-bottom: 40px">
    <%= f.label :expense_type %>
    <%= f.select :expense_type, ["Choose Expense Type","Airfare","Lodging","Meals","Fun"], class:"form-control select" %>
  </div>
  <div class="form-group col-sm-6">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, placeholder: "Start Date", class:"form-control" %>
  </div>
  <div class="form-group col-sm-6">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, placeholder: "End Date", class:"form-control" %>
  </div>
  <div class="form-group">
  <%= f.submit "Submit", class: "btn btn-block"%>
  </div>
<% end %>
